{% extends 'layout.html'%}
{% block body %}
<div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          
            <p id="profile-name" class="profile-name-card"></p>

            <form method="POST" class="form-signin"action='/fingerPrint'>
                <span id="reauth-email" class="reauth-email"></span>
                <div id="remember" class="checkbox">
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Open camera</button>
            </form><!-- /form -->
            
        </div><!-- /card-container -->
    </div><!-- /container -->
    {% endblock %}